html {
    scroll-behavior: smooth;
    max-width: 1920px;
    overflow-x:hidden;

}
body {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    color: #ff4444;
    
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}
.intro {
    max-width: 1920px;
    max-height: 110px;
    min-width: 1920px;
    min-height: 110px;
        top: 50%;
    left: 50%;
    width: 1920px;
    height: 465px;
    background: url(../image/sharp.png)
}
.pc {
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    
    
}
.logo {
    width: 206px;
    height: 40px;
    color: #ff4444;
    font-family: Lobster;
    font-size: 53px;
    font-weight: 400;
    margin-left: 93px;
    margin-top: 11px;
    position: absolute;
    text-decoration: none;
}
.stext {
    position: absolute;
    width: 231px;
    height: 19px;
    color: #ff4444;
    font-family: "Source Sans Pro"; 
    font-size: 17px;
    font-weight: bold;
    margin-left: 73px;
    margin-top: 63px;
    text-decoration: none;
}
.logo:hover {
    color: #fff;
    cursor: pointer;
}
.stext:hover {
    cursor: pointer;
    color: #fff;
}
.scroll-up {
    left: 0;
    bottom: 0;
    width: 130px;
    height: 100%;
    
    position: fixed;
    cursor: pointer;
    background-color: #fcfcfc;
    color: #aaa ;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    transition: background .2s ease;
    display none;
    z-index:
    
    
}

.scroll-up:hover {
    background-color: #eeeeee;
    color: #77777777
}
.catalog {
    margin: 0 ;
    background: url(../image/fon2.png);
    width: 1920px;
    height: 1185px;


}
.vid {
    margin-top: 41px;
    position: absolute;
    margin-left: 436px;
    width: 338px;
    height: 50px;

    font-family: "Source Sans Pro";
    font-size: 60px;
    font-weight: 700;
}
.vid1 {
    margin-top: 60px;
    position: absolute;
    margin-left: 761px;
    width: 338px;
    height: 50px;
    text-align-last: center;
    font-size: 40px;
    text-align: center
}
.proc2 {
    position: absolute;
    margin-top: 152px;
    width: 338px;
    height: 50px;
    margin-left: 761px; 
    font-size: 40px;
    text-align: center;
    text-align-last: center;
}
.proc {
    position: absolute;
    width: 306px;
    height: 50px;
    font-family: "Source Sans Pro";
    font-size: 60px;
    font-weight: 700;
    margin-top: 132px;
    margin-left: 463px;
    
}

}option {
    text-align-last: center;
}